<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.StenoMate"
        tools:targetApi="31">
        <activity
            android:name=".DictationActivity"
            android:exported="false" />
        <activity
            android:name=".DictationListItemGroup"
            android:exported="false" />
        <activity
            android:name=".DictationList"
            android:exported="false" />
        <activity
            android:name=".DictationCategory"
            android:exported="false" />
        <activity
            android:name=".AssessmentCategory"
            android:exported="false" />
        <activity
            android:name=".QuizCategory"
            android:exported="false" />
        <activity
            android:name=".HistoryActivity"
            android:exported="false" />
        <activity
            android:name=".AssessmentListItemGroup"
            android:exported="false" />
        <activity
            android:name=".AssessmentGuide"
            android:exported="false" />
        <activity
            android:name=".QuizzesList"
            android:exported="false" />
        <activity
            android:name=".QuizzesActivity"
            android:exported="false" />
        <activity
            android:name=".LessonHistoryBackground"
            android:exported="false" />
        <activity
            android:name=".LessonMenu"
            android:exported="false" />
        <activity
            android:name=".AssessmentList"
            android:exported="false" />
        <activity
            android:name=".Lessons.Lesson3Activity"
            android:exported="false" />
        <activity
            android:name=".Lessons.Lesson2Activity"
            android:exported="false" />
        <activity
            android:name=".Lessons.Lesson1Activity"
            android:exported="false" />
        <activity
            android:name=".ContentActivity"
            android:exported="false" />
        <activity
            android:name=".AboutUs"
            android:exported="false" />
        <activity
            android:name=".AssessmentActivity"
            android:exported="false" />
        <activity
            android:name=".DictionaryActivity"
            android:exported="false" />
        <activity
            android:name=".LearningMaterialsActivity"
            android:exported="false" />
        <activity
            android:name=".MainMenu"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>